dciclient
flask
jinja2
itsdangerous
werkzeug
kombu
lxml
requests
numpy
pandas
gunicorn
psycopg[binary,pool]
SQLAlchemy
SQLAlchemy-Utils
urllib3
git+https://github.com/distributedci/dci-control-server
