dciclient
flask
jinja2
markupsafe
itsdangerous
werkzeug
kombu
lxml
requests
numpy
pandas
gunicorn
psycopg2
psycopg2-binary
SQLAlchemy
SQLAlchemy-Utils
urllib3
git+https://github.com/distributedci/dci-control-server
